* {
   font-family: 'Roboto','sans-serif';
    margin: 0;
    padding: 0;
}
.left {
    float: left;
}

#traDao {
    width: 60%;
    margin: auto;
    font-size: 120%;
    margin-top: 120px;
    padding: 50px 130px;
    background: url(../images/van_hoa/lineTraDao.png) bottom center /90% no-repeat ,url(../images/van_hoa/nenTraDao.png) center /contain no-repeat;
}
    #traDao .back {
        color: #9EC7E4;
        font-size: 1.5em;
        text-decoration: none;
    }
        #traDao .back:hover {
            color: #539ed3;
        }
    #traDao h1 {
        margin-bottom: 20px;
        color: #2E6722;
        text-align: center;
        font-size: 40px;
    }
    #traDao h3 {
        margin: 20px 0 10px 0;
        color: #2E6722;
    }
    #traDao p {
        margin: 10px 0;
    }
    #traDao .image {
        text-align: center;
    }


